@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.landing-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #ffefba 0%, white 100%);
  display: flex;
}

.landing-left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.landing-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  scale: 2;
  color: #AFA37B;
}

.icon:hover {
  transition: all 0.3s;
  scale: 1.5;
}

.icon:active {
  scale: 2;
}

.icon-wrapper {
  width: 100px;
  position: relative;
  user-select: none;
  font-size: 20px;
  color: #AFA37B;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-wrapper p {
  margin: 20px;
}

#outlined-basic1 {
  background-color: white;
  filter: drop-shadow(2px 1px 2px #AFA37B);
}

#outlined-basic2 {
  background-color: white;
  filter: drop-shadow(2px 1px 2px #AFA37B);
}

#outlined-basic3 {
  background-color: white;
  filter: drop-shadow(2px 1px 2px #AFA37B);
}

#outlined-basic4 {
  background-color: white;
  filter: drop-shadow(2px 1px 2px #AFA37B);
}

.login-button {
  background-color: #ffefba !important;
  color: #AFA37B !important;
  padding: 0 !important;
  width: 100% !important;
  height: 55px !important;
  filter: drop-shadow(2px 1px 2px #AFA37B);
}

.login-button:hover {
  border: 1px solud blue !important;
  background-color: unset !important;
}

.login-heading {
  font-size: 20px;
  color: #AFA37B;
  text-align: center;
}

.eye-icon {
  position: absolute;
  top: 0;
}

.login-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 10px !important;
  animation: appear 0.5s 1 !important;
}

.login-form p {
  width: 100%;
}

@media only screen and (max-width: 1095px) {
  .landing-container {
    padding-top: 50px;
    flex-direction: column;
  }

  .landing-left-wrapper,
  .landing-right-wrapper {
    width: 100%;
    height: fit-content;
  }
}

@media only screen and (max-width: 650px) {
  .landing-right-wrapper>img {
    width: 350px !important;
    height: auto !important;
  }
}

/*crko dean sa foldom */
@media only screen and (max-width: 300px) {

  .login-form {
    width: 250px !important;
    padding-left: 20px !important;
  }

  .landing-left-wrapper {
    width: 250px !important;
  }

  .landing-right-wrapper>img {
    width: 300px !important;
    height: auto !important;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.9;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}